.side-bar {
    background-color: grey;
    width: 18vw;
    height: 100vh;
    display: inline-block;
}

.title {
    margin-top: 0;
    text-align: center;
}

.room-names {
    margin-left: 1em;
}

.new-room-button {
    align-content: center;
}

.room {
/*    display: inline-block;*/
    background-color: lightgray;
    height: 100vh;
    width: 82vw;
    float: right;
}

.room-title {
    text-align: center;
}

.message-input {
    width: 96vw;
}

