.side-bar {
    background-color: grey;
    width: 20em;
    height: 100em;
}

.title {
    margin-top: 0;
    text-align: center;
}

.room-names {
    margin-left: 1em;
}

.new-room-button {
    align-content: center;
}