<link rel="stylesheet" type="text/css" href="styles/home.css">
<div>
    <div class="side-bar">
        <h1 class="title">MUNIC</h1>
        <div>
            <div>Username: {{userName}}</div>
        </div>
        <button ng-click="signIn()">Sign In</button>
        <button ng-click="signOut()">Sign Out</button>
        <div class="room-names" ng-repeat="room in rooms">
            <div ng-click="Message.getRoomById(room.$id)">
                <div>{{room.$value}}</div>
            </div>
        </div>
        <button class="new-room-button" ng-click="createRoom()">New Room</button>
    </div>
    <div class="room">
        <p ng-repeat="message in Message.messages">{{message.content}}</p>
    </div>
    <div>
        <input ng-model="message" class="message-input">
        <button ng-click="send(message)">Send</button>
    </div>
</div>