<link rel="stylesheet" type="text/css" href="styles/home.css">
<div>
    <div class="side-bar">
        <h1 class="title">MUNIC</h1>
        <div>
        <button class="new-room-button" ng-click="openModal()">New Room</button>
        </div>
        <div class="room-names" ng-repeat="room in rooms">
            <div ng-click="showActiveRoom(room.$name)">
                <div>{{room.$value}}</div>
            </div>
        </div>
    </div>
    <div class="room" ng-repeat="message in messages">
        <p>{{message.content}}</p>
    </div>
</div>